#category-show-desktop-version,
#category-show-mobile-version {
  margin-top: 15pt;
}
.product-img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.product-block {
  position: relative;
  padding: 0;
  margin: 0;
  transition: .25s;
}

@media screen and (max-width: 767px) {
  .product-block {
    .product-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 500pt;
      height: 45pt;
      background-color: rgba(0, 0, 0, 0.3);
      p {
        display: inline-block;
        height: 45pt;
        line-height: 45pt;
        margin: 0;
        padding: 0;
      }
      p.product-title { font-size: 12pt; padding-left: 10pt; }
      p.product-price { font-size: 10pt; }
      p.product-price:before { content: '$'; }
    }
    a.add-cart-item-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 45pt;
      height: 45pt;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      span.fa-shopping-cart {
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: 45pt;
        font-size: 30pt;
      }
    }
    a.add-cart-item-btn.disabled {
      pointer-events: none;
      cursor: not-allowed !important;
      background-color: red !important;
    }
  }
}

@media screen and (min-width: 768px) {
  #billboard {
    box-sizing: border-box;
    height: 300pt;
    background-color: #333;
    clear: both;
  }
  #product-list {
    li {
      text-align: center;
      height: 30pt;
      line-height: 30pt;
      transition: .25s;
      a {
        display: inline-block;
        color: #ddd;
        width: 100%;
        height: 100%;
      }
    }
    li + li { border-top: 1pt dashed #ddd; }
    li:hover {
      background-color: #ddd;
      transition: .25s;
      a {
        color: black;
        transition: .25s;
      }
    }
    li.active { background-color: #ddd; }
    li.active > a { color: #333; }
  }
  .product-block {
    .product-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: .25s;
      vertical-align: bottom;
      p {
        display: none;
      }
      a.add-cart-item-btn {
        display: none;
        background-color: transparent;
        transition: .25s;
      }
      a.add-cart-item-btn.disabled {
        pointer-events: none;
        cursor: not-allowed !important;
        background-color: red !important;
      }
    }
    .product-info:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: bottom;    
    }
  }
  .product-block:hover > .product-info {
    background-color: rgba(0, 0, 0, 0.3);
    transition: .25s;
    p {
      height: 50pt;
      line-height: 50pt;
      font-size: 12pt;
      padding-left: 5pt;
      margin: 0;
      display: inline-block;
    }
    p.product-title { font-size: 12pt; }
    p.product-price { font-size: 10pt; }
    p.product-price:before { content: '$' }
    a.add-cart-item-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 50pt;
      height: 50pt;
      background-color: rgba(0, 0, 0, 0.3);
      color: #ddd;
      transition: .25s;
      span.fa-shopping-cart {
        display: inline-block;
        position: absolute;
        width: 30pt;
        height: 30pt;
        left: 50%;
        top: 50%;
        font-size: 30pt;
        margin-left: -15pt;
        margin-top: -15pt;
      }
    }
    a.add-cart-item-btn:hover {
      background-color: rgba(0, 0, 0, 0.6);
      transition: .25s;
    }
  }
}