
/* Main Color Scheme */
$outer-space: #424B54;
$roman-silver: #7F9296;
$white: #ffffff;
$pale-chestnut: #E2B4BD;
$sea-foam-greeen: #A9E5BB;

$bootstrap-primary: rgba(2,117,216, 1);
$bootstrap-success: rgb(92, 184, 92);
$bootstrap-danger: rgb(217, 83, 79);
$bootstrap-warning: rgb(240, 173, 78);

ul#aside-menu {
  background-color: #333;
  color: #ddd;
  position: fixed;
  height: 100vh;
  width: 200pt;

  li {
    font-size: 11pt;
    height: 35pt;
    line-height: 35pt;
  }
  li > a {
    display: block;
    padding-left: 15pt;
    width: 100%;
    height: 100%;
    color: #ddd;
  }
  li:hover:not(#title) {
    background-color: #555;
    transition: .25s;
  }
  li#title {
    font-size: 18pt;
    height: 50pt;
    line-height: 50pt;
    border-bottom: 2pt solid rgba(2,117,216, 1);
    transition: .25s;
  }
  li#title:hover {
    background-color: rgba(2,117,216, 1);
    transition: .25s;
  }
  li > a.active {
    background-color: #555;
  }
}
div#top-navbar {
  margin-left: 200pt;
  height: 50pt;
  line-height: 50pt;
  width: calc(100vw - 200pt);
  background-color: #555;
  color: #ddd;
}