<div class="backend-panel border-primary">
  <div class="backend-panel-body border-primary">
    <%= link_to t('path.back_link'), :back, class: 'btn btn-default' %>
    <%= link_to t('path.backend.products.index'), backend_products_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<%= render 'form', product: @product, url: backend_product_path(@product), params: {}, action: :edit %>
