<% content_for :js do %>
  <%= javascript_include_tag 'rabbit.js' %>
<% end %>
<h1 id="title" class="unselectable">Wunderschön <br> <span>A gorgeous beautiful grounded rabbit <3</span></h1>
<button id="entry-btn" class="unselectable">Take me home ~ <3</button>