<!-- PixiJS CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
<!--
  AnimeJS CDN
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
-->

<h1 id="title">Wunderschön <br> <span>A gorgeous beautiful grounded rabbit <3</span></h1>
<button id="entry-btn">Take me home ~ <3</button>