<% content_for :js do %>
  <!--
    AnimeJS CDN
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  -->  
<% end %>
<script>

</script>
<h1 id="title" class="unselectable">Wunderschön <br> <span>A gorgeous beautiful grounded rabbit <3</span></h1>
<button id="entry-btn" class="unselectable">Take me home ~ <3</button>