<div class="backend-panel border-primary">
  <div class="backend-panel-body border-primary">
    <%= link_to t('path.back_link'), :back, class: 'btn btn-default' %>
    <%= link_to t('path.backend.categories.index'), backend_categories_path, class: 'btn btn-default pull-right' %>
  </div>
</div>
<%= render 'form', category: @category, action: :edit, url: backend_category_path(@category) %>
