/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
  background-color: #111;
  max-width: 100vw;
  width: 100%;
  color: #ddd;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.m-r-20 { margin-right: 20pt; }
.m-r-50 { margin-right: 50pt; }
.p-r-10 { padding-right: 10pt; }
.p-0 { padding: 0; }

@media screen and (max-width: 767px) {
  .mobile-version {
    display: block;
  }
  .desktop-version {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-version {
    display: none;
  }
  .desktop-version {
    display: block;
  }
  .custom-container {
    margin: 0 auto;
    max-width: 1080px;
  }
}