/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

/* Main Color Scheme */
$outer-space: #424B54;
$roman-silver: #7F9296;
$white: #ffffff;
$pale-chestnut: #E2B4BD;
$sea-foam-greeen: #A9E5BB;

$bootstrap-primary: rgba(2,117,216, 1);
$bootstrap-success: rgb(92, 184, 92);
$bootstrap-danger: rgb(217, 83, 79);
$bootstrap-warning: rgb(240, 173, 78);

html, body {
  background-color: $outer-space;
  max-width: 100vw;
  width: 100%;
  color: $white;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  overflow-y: scroll;
  cursor: default;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
td {
  font-weight: 100;
}
input.form-control,
textarea.form-control,
select.form-control {
  background-color: $outer-space;
  color: #ddd;
  border-radius: 3pt;
  border: 1pt dashed #888;
  transition: .25s;
}
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  background-color: $roman-silver;
  transition: .25s;
}
input.disabled,
textarea.disabled,
select.disabled {
  color: #888;
  background-color: #222 !important;
}
a, button, a:focus, button:focus { outline: none; }
a.disabled, button.disabled { pointer-events: none; }
.btn-default {
  background-color: transparent;
  color: #aaa;
  border: 1pt solid $roman-silver;
  transition: .25s;
}
.btn-default:hover {
  color: #111;
  background-color: #ddd;
  border-color: #ddd;
  transition: .25s;
}
.m-r-20 { margin-right: 20pt; }
.m-r-50 { margin-right: 50pt; }
.p-r-10 { padding-right: 10pt; }
.p-0 { padding: 0; }

@media screen and (max-width: 767px) {
  .mobile-version {
    display: block;
  }
  .desktop-version {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-version {
    display: none;
  }
  .desktop-version {
    display: block;
  }
  .custom-container {
    margin: 0 auto;
    max-width: 1080px;
  }
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.bg-primary, .bg-success, .bg-warning, .bg-danger,
.border-primary, .border-success, .border-warning, .border-danger { transition: .25s; }
.bg-primary { background-color: $bootstrap-primary; }
.bg-success { background-color: $bootstrap-success; }
.bg-warning { background-color: $bootstrap-warning; }
.bg-danger  { background-color: $bootstrap-danger; }
.border-primary { border-color: $bootstrap-primary; }
.border-success { border-color: $bootstrap-success; }
.border-warning { border-color: $bootstrap-warning; }
.border-danger  { border-color: $bootstrap-danger; }

@keyframes RotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes RotateCounterclockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}