/* Main Color Scheme */
$outer-space: #424B54;
$roman-silver: #7F9296;
$white: #ffffff;
$pale-chestnut: #E2B4BD;
$sea-foam-greeen: #A9E5BB;

$bootstrap-primary: rgba(2,117,216, 1);
$bootstrap-success: rgb(92, 184, 92);
$bootstrap-danger: rgb(217, 83, 79);
$bootstrap-warning: rgb(240, 173, 78);

.backend-container {
  max-width: 100vw;
  margin-left: 200pt;
  padding: 30pt;
}
.backend-panel {
  margin-bottom: 20pt;
  background-color: #333;
  border-bottom: 3pt solid $roman-silver;
  transition: .25s;
}
.backend-notice {
  position: relative;
  border-bottom: none;
  padding: 20pt;
}
.backend-notice > label {
  display: block;
  width: 100%;
  height: 100%;
}
input#success-msg, input#notice-msg, input#warning-msg, input#error-msg {
  position: absolute;
  top: -1000pt;
  left: -1000pt;
}
label[for="success-msg"],
label[for="notice-msg"],
label[for="warning-msg"],
label[for="error-msg"] {
  position: absolute;
  display: inline-block;
  width: 20pt;
  height: 20pt;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0pt;
  span {
    display: block;
    position: absolute;
    top: 8.5pt;
    left: 2.5pt;
    width: 15pt;
    height: 2pt;
    background-color: #ddd;
  }
  span:first-child {
    transform: rotate(45deg);
  }
  span:last-child {
    transform: rotate(-45deg);
  }
}
input#success-msg:checked ~ .backend-notice.bg-success,
input#notice-msg:checked  ~ .backend-notice.bg-primary,
input#warning-msg:checked ~ .backend-notice.bg-warning,
input#error-msg:checked   ~ .backend-notice.bg-danger {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 0;
  transition: .25s;
  span {
    width: 0;
    transition: .25s;
  }
}
.backend-panel-head {
  padding: 0 20pt;
  background-color: $roman-silver;
  height: 50pt;
  line-height: 50pt;
  font-size: 14pt;
}
.backend-panel-head a {
  display: inline-block;
  color: #ddd;
  float: right;
  padding: 0 10pt;
  cursor: pointer;
  transition: .25s;
}
.backend-panel-head a:hover {
  color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
  transition: .25s;
}
.backend-panel-body {
  padding: 20pt;
}
.backend-panel-body + .backend-panel-body {
  padding-top: 0;
}
// .backend-panel:hover {
//   border-color: #888;
//   transition: .25s;
// }
.backend-panel-info {
  h3 {
    border-bottom: 2pt solid $roman-silver;
  }
}
.backend-modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
}
.backend-modal {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  left: 50%;
  margin-left: -150pt;
}
.backend-modal-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100vh;
  width: 0pt;
}
.backend-modal-title {
  font-size: 14pt;
}
.backend-modal-body,
.backend-modal-footer {
  font-size: 10pt;
}
.backend-modal-title,
.backend-modal-body,
.backend-modal-footer {
  background-color: #333;
  width: 300pt;
  padding: 10pt;
}
.backend-modal-footer {
  border-bottom: 3pt solid $roman-silver;
  text-align: right;
}
.backend-modal-close-btn {
  display: inline-block;
  position: absolute;
  top: -10pt;
  left: 290pt;
  color: #ddd;
  background-color: #333;
  width: 20pt;
  height: 20pt;
  border-radius: 50%;
  border: none;
  text-align: center;
  line-height: 20pt;
  outline: none;
  animation: RotateCounterclockwise .25s;
  span {
    width: 12.5pt;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    height: 2pt;
    border-radius: 1pt;
    left: 4pt;
    top: 9pt;
  }
  span:first-child {
    transform: rotate(45deg);
  }
  span:last-child {
    transform: rotate(-45deg);
  }
}
.backend-modal-close-btn:hover {
  animation: RotateClockwise .25s;
}
table.backend-table {
  width: 100%;
  box-sizing: border-box;
  padding: 10pt;
  background-color: #222;
  tr {
    border-bottom: 3pt solid #333;
    transition: .25s;
  }
  tbody > tr:hover {
    background-color: #444;
    transition: .25s;
  }
  th {
    background-color: rgba(2,117,216, 1);
    text-align: center;
  }
  th + th {
    border-left: 2pt solid rgba(2,97,196, 1);
  }
  td, th {
    padding: 6pt 10pt;
  }
}