/* Main Color Scheme */
$outer-space: #424B54;
$roman-silver: #7F9296;
$white: #ffffff;
$pale-chestnut: #E2B4BD;
$wild-orchid: #D8759B;
$sea-foam-greeen: #A9E5BB;

$bootstrap-primary: rgba(2,117,216, 1);
$bootstrap-success: rgb(92, 184, 92);
$bootstrap-danger: rgb(217, 83, 79);
$bootstrap-warning: rgb(240, 173, 78);

#mobile-version-navbar,
#desktop-version-navbar {
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar-container {
  background-color: $white;
  border-bottom: 4px solid $pale-chestnut;
  box-sizing: content-box;
  height: 45pt;
  color: #111;
  transtion: .25s;
}
.navbar-container:hover {
  border-bottom-color: $wild-orchid;
  transition: .25s;
}
.navbar-body {
  line-height: 45pt;
  font-weight: 100;
  font-size: 14pt;
}
.brand {
  font-size: 18pt;
  display: inline-block;
}
.navbar-offset {
  margin-bottom: 50pt;
}
#desktop-version-navbar > div > ul {
  width: 100vw;
}
.nav-right {
  float: right;
  a {
    display: inline-block;
    color: $outer-space;
    height: 45pt;
    line-height: 45pt;
    font-size: 12pt;
    cursor: pointer;
    transition: .25s;
    padding: 0 10pt;
  }
}
.nav-right:hover > a {
  background-color: $wild-orchid;
  color: $white;
  transition: .25s;
}
#mobile-slide-menu {
  height: 200pt;
  overflow: scroll;
  display: none;
}
#mobile-slide-menu > div {
  height: 50px;
  line-height: 50px;
  font-size: 12pt;
  margin: 0 5pt;
  padding: 0 20pt;
  border-top: 2px dashed $pale-chestnut;
}
#categories-icon {
  width: 25pt;
  height: 40pt;
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#categories-icon span {
  display: block;
  position: absolute;
  height: 3pt;
  width: 100%;
  background: $pale-chestnut;
  border-radius: 8pt;
  opacity: 1;
  left: 10pt;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#categories-icon span:nth-child(1) {
  top: 15pt;
}
#categories-icon span:nth-child(2),#categories-icon span:nth-child(3) {
  top: 22pt;
}
#categories-icon span:nth-child(4) {
  top: 29pt;
}
#categories-icon.open span:nth-child(1) {
  top: 18pt;
  width: 0%;
  left: 50%;
}
#categories-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#categories-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#categories-icon.open span:nth-child(4) {
  top: 18pt;
  width: 0%;
  left: 50%;
}
