<!-- Issue 28: Product UI Design -->
<div class="product-block col-sm-12 col-xs-12">
  <%= image_tag fake_image, class: 'product-img' %>
  <p><%= product.title %></p>
  <p><%= product.description %></p>
</div>
